h1,h5{
    text-align: center;
    color:#947EB0;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    color: #3a86ff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/*
    Color Palette to use for class 
    Olivine = #8CBA80
    A darker brighter blue = #3a86ff
    Charcoal(Our version of black) = #274156
    Pale Dogwood(Background color most likely) = #FFD4CA
    African Violet = #947EB0
*/

body{
    background-color: #FFD4CA;
    padding-left: 2%;
    padding-right: 2%;
}

P{
    color: #274156;
    font-family: 'Merriweather', serif;
    font-size: large;
}
.images{
    display: block;
    margin : auto;
    width: 50%;
}
figcaption{
    text-align: center;
    font-style: italic;
}
h3{
    color: #8CBA80 ;
}
.flex-parent {
    display: flex;
} 
.jc-center {
    justify-content: center;
}
nav{
    
}