h1,
h5 {
    text-align: center;
    color: #124210;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    color: #305252;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #9cce5a;
    margin: -2%;
    margin-left: -3%;
    margin-right: -3%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

body {
    background-color: #f5f6f3;
    padding-left: 2%;
    padding-right: 2%;
}

P {
    color: #124210;
    margin-left: 2%;
    font-family: 'Merriweather', serif;
    font-size: large;
}

ul {
    margin-left: 3%;
    color: #124210;
}

.images {
    display: block;
    margin: auto;
    width: 50%;
    border: 8px solid #9cce5a;
    border-radius: 3%;

}

.figcaption1 {
    text-align: center;
    font-style: italic;
}

h3 {
    color: #305252;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

nav {
    text-align: center;
}

.imagesMainPage {
    display: block;
    margin: auto;
    width: 25%;
}

table,
th,
td,
tr {
    border: 1px solid black;
}

.figcaption2 {
    text-align: center;
}

.figure1 {
    display: inline-block;
    margin: auto;
    margin-left: 0px;
}

/* This is CSS to alternate row colors */
tr:nth-child(even) {
    background-color: #C6E0FF;
}

tr:nth-child(odd) {
    background-color: #C792DF;
}

/* This is CSS for forms.html */
.container {
    text-align: center;
    margin: auto;
    display: block;
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
    background-color: #f2e5d7;
}

.buttonCenter {
    background-color: grey;
    color: wheat;
}

/*My Four input element CSS lines */
.radio {
    font-size: 65px;
}

select {
    width: 100%;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*Links custom settings */
a:visited {
    text-decoration: none;
    color: #124210;
}

a:link {
    text-decoration: none;
    color: #124210;
}

a:hover {
    color: #f5f6f3;
    text-decoration: none;
}

hr {
    border: 2px solid #9cce5a;
}

footer a:hover {
    color: #9cce5a;
}

.scriptstext {
    text-align: center;
}

.single-button {
    height: 40px;
    width: 100%;
    text-align: center;
    border: solid 2px black;
    background-color: #9cce5a;
}

.coolSelect {
    background-color: #f2e5d7;
    border: solid 2px black;
}

.emptyBox {
    height: 200px;
    width: 200px;

    /* Calculator attempt CSS */
}

.calc-bottom {
    width: 30%;
    height: 60%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0;
}

.calc-button-even {
    width: 130px;
    height: 80px;
    background-color: #C6E0FF;
    font-weight: bold;
}

.calc-button-odd {
    width: 130px;
    height: 80px;
    background-color: #C792DF;
    font-weight: bold;
}

.calculator-keys {
    display: grid;
}

.calc-display {
    justify-content: center;
    font-size: large;
    width: 400px;
    height: 80px;
    background-color: white;
    border: 2px solid black;
}

.container-calc {
    max-width: 360px;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-top: 40px;
}

#result {
    height: 50px;
    line-height: 30px;
    padding: 4% 2%;
    font-size: 25px;
    text-align: right;
}
.btns{  
    display:grid;
    border:1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btns div {
    border-top: 1px solid #999;
}
.button{
    border: .5px solid gray;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}

#equal {
    background-color: lightblue;
    color: whitesmoke;
    font-size: 30px;
}

#clear {
    background-color: orange;
    color: white;
}

.btn:hover {
    background-color: lightgray;
}

#equal:hover {
    background-color: blue;
}

#clear:hover {
    background-color: red;
}
#display{
    font-size: 45px;
    justify-content: center;
}
/* Array Stylesheet */
.arraySelect, select{
    width: 30%;
    margin-bottom: 1%;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.center-para {
    text-align: center;
    color: #124210;
    margin-left: 2%;
    font-family: 'Merriweather', serif;
    font-size: large;
}

.salary-select {
    font-size: 20px;
    justify-content: center;
}

.table-array,
th {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 40%;
    text-align: center;
    background-color: #C6E0FF;
}

.form-align {
    text-align: center;
}
/*Slideshow CSS */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #CCFCCB;
    padding: 2px 16px;
    color: Black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .accordion {
    background-color: black;
  }
  
  .mySlides img
  {
    height: 400px;
    width: 100%;
  }
  
  .demo 
  {
    width: 100%;
    height:50px;
  }
