<footer>
    <hr>
    <nav>
        <a href="https://github.com/Darwin2001">Github Profile</a>||
        <a href="">Github Pages</a>||
        <a href="https://github.com/Darwin2001/Darwin2001.github.io">Github Course Page</a>||
        <a href="https://webpages.charlotte.edu/dperaza/">Webspace</a>||
        <a href="https://www.freecodecamp.org/DarwinIsMid">FreeCodeCamp</a>||
        <a href="https://www.codecademy.com/profiles/DarwinIsMid">CodeAcademy</a>||
        <a href="https://www.linkedin.com/in/darwin-peraza-055486223/">LinkedIn</a>
    </nav>

    <div class="flex-parent jc-center">
        <!--Scripts will also be in footer file-->
        <!--This is the html button-->
        <a href="https://validator.w3.org/check?uri=referer" id="validtion_link_html">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML.">
            <script src="scripts/htmlvalidator.js"></script>

        </a>
        <!--This is CSS button-->
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validtion_link_css">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS.">
            <script src="scripts/cssvalidator.js"></script>
        </a>
    </div>
    <h5>This page has been created by Peraza Creations</h5>
    <a href="https://www.freecodecamp.org/certification/DarwinIsMid/responsive-web-design"><h5>Certified in JS</h5></a>
    <a href="https://www.freecodecamp.org/certification/DarwinIsMid/javascript-algorithms-and-data-structures"><h5>Certified in JS Data Structures</h5></a>
</footer>