<header>
    <!--This will include a scrollbar to further navigate the website-->
    <h1>ITSC 3135| Darwin Peraza|Drowsy Panda</h1>
    <nav>
        ||<a href="https://webpages.charlotte.edu/dperaza/">Niner Webpage</a>||
        <a href="index.html">Homepage</a>||
        <a href="introduction.html">Introduction</a>||
        <a href="tables.html">HTML Tables</a>||
        <a href="forms.html">HTML Forms </a>||
        <a href="website_evaluations.html">Website Evaluations</a>||
        <a href="stuff/bAd%W3bstie!.htm">Crappy Webpage</a>||
        <a href="firstscripts.html">First Scripts Page</a>||
        <a href="Activity#6.html">Polygon Pages</a>||
    </nav>
</header>